
.movie-card {
  background-size: cover;
  background-position: center;
  background-color: white;
  padding: 0px;
  display: flex;
  flex-flow: column-reverse wrap;
  width: 430px;
  height: 300px;
  margin: 2em 1em;
  transition: 400ms;
}

.movie-card:hover, .movie-card:focus, .movie-card:active {
  width: 460px;
  height: 350px;
  margin: 0em .5em;
}

.movie-info {
  color: white;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

.movie-description {
  display: none;
}


.movie-card:hover ~ .movie-description {
  display: block;
  visibility: visible;
}
