

.movie-details {
  display: flex;
  flex-direction: column;
}
.poster-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.movie-poster{
  height: 300px;
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 800px ) {

  .poster-info {
    flex-direction: column;
  }

  .movie-poster{
    height: 200px;
  }

}
