
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1D1D2C;
  color: #E8EAE3;
  text-align: center;
  margin: 0 auto;
}
